/*.gameContainer {
    background-color: blueviolet;
    position: relative;
}*/

.animateCanvas {
    background-color: black;
    margin: auto;
    aspect-ratio: 2/1;
    width: clamp(400px, 80%, 800px);
    position: relative;
}

.gameCanvas {
    background-color: black;
    aspect-ratio: 2/1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.canvasContainer {
    margin: auto;
    aspect-ratio: 2/1;
    width: clamp(400px, 80%, 800px);
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.canvasContainer::after, .canvasContainer::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 70%,
        rgb(255, 179, 0), rgb(192, 23, 186), rgb(192, 23, 186), rgb(255, 179, 0));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    animation: 3s spin linear infinite;
}

.canvasContainer::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.is-animated {
    animation: pongEntrance 2s 1 ease-in-out;
}

/*@keyframes pongEntrance {
    from {
        -webkit-filter: blur(25px);
        transform: translateY(-70vh) rotate3d(1, 0, 0, -80deg);
    }
    to {
        transform: translateY(0vh);
    }
}*/

@keyframes pongEntrance {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0vh);
    }
}